service supolicy /system/xbin/supolicy --live "allow adbd adbd process setcurrent" \
	"allow adbd init process dyntransition" \
 	"allow isolated_app init unix_stream_socket connectto"	
     disabled
     oneshot

on post-fs-data
     start supolicy

service post-boot /sbin/post-boot.sh
    class core
    user root
    group root
    oneshot

on property:sys.boot_completed=1
     start post-boot.sh
